header {
    background: green;
    text-align: center;
    display: grid;
    place-items: center;
    padding-top: 5%;
    padding-bottom: 5%;
}

header h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 350%;
}

header p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 150%;
}

.serie {
    background: yellow;
}

.film {
    background: lightblue;
}

.anime {
    background: lightpink;
}

.band {
    background: coral;
}

.contenitori {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
    gap: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    max-width: 1200px;

}

.contenitori div {
    border: 1px solid black;
    border-radius: 25px;
    padding: 10px;
    min-height: 300px;
    font-size: 30px;
    text-align: center;
    display: grid;
    place-items: center;
}

.contenitori div:hover {
    background-color: gray;
    transform: scale(1.1);
    transition: all 0.3s ease;
}

@media (max-width: 768px) {
    .contenitori {
        grid-template-columns: 1fr;
    }
}

.dettagli-btn {
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
}

.dettagli-btn:hover {
    background-color: #f0f0f0;
}

.navbar {
    background-color: yellow;
    overflow: hidden;
}

.navbar a {
    float: left;
    color: linear-gradient(to right, red, yellow);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}